* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #dfe6e9;
  --primary: #0984e3;
  --secondary: #fab1a0;
  --text: #2d3436;
  --white: #fff;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

body {
  background: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

body, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

@media (min-width: 768px) {
  html, body, #root {
    overflow: hidden;
  }
}
